header {
    height: 100vh;
    background-image:
        linear-gradient(to left, #37016a69, #6118aa9a),
        url("../assets/image/hotels-landing.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

.navbar {
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.3s ease-in-out all;
    z-index: 999;
}

.navbar.scrolled {
    background-color: #6118aa;
}

.navbar .nav-navbar .nav-link.scrolled {
    border-bottom: 2px solid #37016a00; 
}

.navbar .nav-navbar .nav-link.scrolled:hover {
    border-bottom: 2px solid #37016a !important; 
}

.navbar .nav-login button a.scrolled:hover{
    background-color: #37016a !important;
}


.navbar .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav brand */

.navbar .nav-brand {
    width: 130px;
    overflow: hidden;
}

.navbar .nav-brand a img {
    width: 100%;
}

/* end navbrand */

/* menu */

.navbar .nav-navbar {
    display: flex;
    align-items: center;
}

.navbar .nav-navbar .nav-item {
    list-style-type: none;
}

.navbar .nav-navbar .nav-item .nav-link {
    text-decoration: none;
    color: #f2e7ff;
    padding: 15px 10px;
    border: 2px solid transparent;
    display: inline-block;
    transition: 0.4s ease-in-out all;
    font-weight: 600;
    font-size: 17px;
}

.navbar .nav-navbar .nav-item .nav-link:hover {
    border-bottom: 2px solid #6118aa;
}

/* end menu */

/* login */
.navbar .nav-login button {
    border: none;
    background-color: transparent;
}

.navbar .nav-login button a {
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    padding: 13px 20px;
    background-color: #53168d;
    border-radius: 5px;
    color: #f2e7ff;
    transition: 0.4s ease-in-out all;
}

.navbar .nav-login button a:hover {
    background-color: #6118aa;
    color: #e7d2ff;
}

/* end login */

/* nav content */
.nav-title .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.nav-title .row .col-5 {
    width: 500px;
}

.nav-title .col-5 .text span {
    color: #f2e7ff;
    font-size: 20px;
    font-weight: 600;
}

.nav-title .col-5 .text h1 {
    font-size: 60px;
    margin-top: 50px;
    color: #faf5ff;
    font-weight: 600;
}

.nav-title .col-5 .text p {
    margin-top: 15px;
    color: #f2e7ff;
    font-size: 17px;
    text-align: justify;
}

.nav-title .col-5 .text .a {
    margin-top: 50px;
    display: block;
    text-align: right;
}

.nav-title .col-5 .text .a a {
    font-size: 17;
    font-weight: 600;
    text-decoration: none;
    color: #e7d2ff;
    background-color: #53168d;
    padding: 7px 15px;
    border-radius: 10px;
}

.nav-title .col-5 .text .a a:hover {
    background-color: #6118aa;
    color: #e7d2ff;
}

.nav-title .col-7 {
    width: 600px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
}

.nav-title .col-7 img {
    width: 100%;
}

/* main */
.promotion {
    height: 100%;
    margin-top: 50px;
}

.promotion .title h2 {
    font-size: 30px;
    color: #37016a;
    text-align: center;
}

.promotion .promotion-content {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.promotion .promotion-content .text {
    width: 100%;
}

.promotion .promotion-content .text h2 {
    text-align: right;
    font-weight: 600;
    font-size: 17px;
}

.promotion .promotion-content .text h2 a {
    border-radius: 5px;
    background-color: #53168d;
    color: #f2e7ff;
    padding: 6px 13px;
    text-decoration: none;
    display: inline-block;
}

.promotion .promotion-content .text h2 a:hover{
    background-color: #6118aa;
}

.promotion .promotion-content .item {
    width: 380px;
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    transition: 0.4s ease-in-out all;
}

.promotion .promotion-content .item:hover {
    transform: scale(1.03);
}


/* end promotion */
/* start popular place */
.popular-place {
    height: 100%;
    margin-top: 46px;
}

.popular-place .title h2{
    font-size: 30px;
    color: #37016a;
    text-align: center;
}

.promotion{
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-container {
    display: flex;
    gap: 30px;
}

.promotion::-webkit-scrollbar {
    display: none;
}

.box-dis {
    min-width: 400px;
    height: 500px;
    background-color: #faf5ff   ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #6118aa;
}


/* footer */
footer {
    margin-top: 50px;
    background-color: #6118aa;
}

.bottom-page {
    display: flex;
    justify-content: space-between;
}

.bottom-page .box {
    width: 280px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-page .box .footer-container {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-page .box .footer-container h3 {
    text-align: center;
    font-weight: 600;
    color: #f2e7ff;
    font-size: 20px;
}

.bottom-page .box .footer-container a {
    font-weight: 600;
    color: #f2e7ff;
    font-size: 17px;
}

.bottom-page .box .footer-container p {
    font-weight: 600;
    color: #f2e7ff;
    font-size: 17px;
}

/* end footer */