@import url('https://fonts.googleapis.com/css2?family=Khmer&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Khmer", sans-serif;
    background-color: #faf5ff;
}

.container {
    width: 1200px;
    margin: auto;
}

.banner-popular {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}



.banner-popular img {
    width: 100%;
    height: 100%;
}

main .h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
}

.promotion-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 30px;
}


.promotion-row .promotion-box {
    width: 380px;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s ease-in-out all;
    background-color: white;
}

.promotion-row:hover .promotion-box {
    transform: scale(1.03);
}

.promotion-row .promotion-box .promotion-photo {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.promotion-row .promotion-box .promotion-photo img {
    width: 100%;
    height: 100%;
}

.promotion-row .promotion-box .promotion-content .rate h3 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.like-best-offer {
    display: flex;
    justify-content: space-between;
}

.like-best-offer .discount {
    color: green;
}

.promotion-row .promotion-box .promotion-content .rate span {
    font-weight: 600;
}

.promotion-row .promotion-box .promotion-content .rate span i {
    color: red;
}

.promotion-row .promotion-box .promotion-content .promotion-detail .detail {
    margin-top: 10px;
}

.promotion-row .promotion-box .promotion-content .promotion-detail h3 {
    margin-top: 10px;
}

.promotion-row .promotion-box .promotion-content .deadline {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.promotion-row .promotion-box a {
    padding: 10px 15px;
    display: inline-block;
    border-radius: 10px;
    color: white;
    transition: 0.4s ease-in-out all;
    text-decoration: none;
    background-color: #8b27f6;
    margin-top: 10px;
}

.promotion-row .promotion-box a:hover {
    background-color: #7617d9;
}



.money {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.money span {
    color: green;
    font-weight: 600;
}



.swiper {
    width: 100%;
    height: 85vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Search Engine */
.search-engine {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
}

.search-engine .sdf {
    display: flex;
    flex-direction: column;
    width: 22%;
    /* To ensure equal space for each select box */
    

}

select{
    font-family: "Khmer", sans-serif;
}

.search-engine select {
    padding: 0.5rem;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.separator {
    border-right: 2px solid black;
    height: 70px;
}

select{
    font-family: "Khmer", sans-serif;
}



.sdf .bsdf {
    width: 100%;
    padding: .7rem;
    border: none;
    color: white;
    background-color: #7617d9;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

.sdf .bsdf:hover {
    background-color: #8b27f6;
    cursor: pointer;
}

#loadMore {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    font-size: 18px;
    color: white;
    background-color: #8b27f6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
}

#loadMore:hover {
    background-color: #7617d9;
}