@import url('https://fonts.googleapis.com/css2?family=Khmer&display=swap');

body {
    font-family: "Khmer", sans-serif;
    font-size: 1rem;
}

.login .login-input table tr td {
    padding: 0 10px;
}