@import url('https://fonts.googleapis.com/css2?family=Khmer&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Khmer", sans-serif;
    background-color: #faf5ff;
}

.container{
    width: 1200px;
    margin: auto;
}
.success-container {
    text-align: center;
    
}

.finish{
    background-color: green;
}

.checkmark {
    font-size: 80px;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #8b27f6;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.btn:hover {
    background-color: #7617d9;
}

.form-container .button-container .btn a{
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
    font-family: "Khmer", sans-serif;
    font-size: 1rem;
    color: #e7f1ff;
}